<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../public/css/menu.css">
</head>

<body>

    <header>
        
        <nav class="navbar">

            <!-- <div class="logo"><a href="#">MULTI-SERVICES</a></div> -->

            <ul>
                <li><a href="/interfaz-registro">REGISTRAR USUARIO</a></li>
                <li><a href="/interfaz-registro-profesional">REGISTRAR PROFESIONAL</a></li>
                <li><a href="#">CONTACTANOS</a></li>
            </ul> 
             <!-- <a href="#" class="action_btn">Help me</a> -->
        </nav>

        <section class="textos-header">
            <h1>BIENVENIDOS <span class="multi">A MULTISERVICIOS</span></h1>
            <h2>PLATAFORMA  <span>100% </span> CONFIABLE</h2>
        </section>
        
        <!-- <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg>
        </div> -->
    </header>

    <section class="contenedor">
        <section class="clientes-contenedor">
            <div class="contenedor-titulo">
                <h2 class="titulo"> Que<span> Dicen</span> Nuestros<span> Clientes</span></h2>
            </div>
            <div class="cards">
                <div class="card">
                    <img src="../public/img/daniela.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4>Daniela Sanchez</h4>
                        <p>My opinion towards this page: <br></p>
                        <p>I loved the page, I was able to find a reliable professional to solve a problem I had in my home... 5 stars!</p>
                        
                    </div>
                </div>

                <div class="card">
                    <img src="../public/img/martin.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4>Juan Martin</h4>
                        <p>My opinion towards this page: <br> </p>
                        <p>
                            Very good platform, I was able to find many services that I cannot find on other pages and the best thing is that I get a professional service</p>
                    </div>
                </div>

                <div class="card">
                    <img src="../public/img/Mauricio.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4>Mauricio Celis</h4>
                        <p>My opinion towards this page: <br> </p>
                        <p>Very easy to use, I like it because I can find a wide variety of services and best of all with professionals</p>
                    </div>
                </div>
            </div>
        </section>
    </section> 


    <!-- <section class="portafolio">

        <div class="contenedor">
            <h2 class="titulo">SERVICES WE OFFER</h2>
            <div class="galeria-port">
                <div class="imagen-port">
                    <img src="../public/img/barberia.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="/img/icono1.png" alt="">
                        <p>BARBERSHOP</p>
                    </div>

                </div>
                <div class="imagen-port">
                    <img src="../public/img/Uber.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="/img/icono1.png" alt="">
                        <p>UBER</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="../public/img/abogado.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="/img/icono1.png" alt="">
                        <p>LAWYER</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="../public/img/domicilio.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="/img/icono1.png" alt="">
                        <p>DELIVERY</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="../public/img/medico.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="/img/icono1.png" alt="">
                        <p>DOCTOR</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="../public/img/servicios-de-hogar.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="/img/icono1.png" alt="">
                        <p>HOME SERVICES</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="../public/img/psicologo.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="/img/icono1.png" alt="">
                        <p>PSYCHOLOGIST</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="../public/img/odontologo.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="/img/icono1.png" alt="">
                        <p>ODONTOLOGY</p>
                    </div>
                </div>
            </div>
        </div>

    </section> 
     -->

    

    <footer>

        <div class="footer-content">
            <h3>MultiServicios</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur, assumenda.</p>
            <ul class="socials">
                <li><a href="#" class="Gmail"><img src="../public/img/gmail.png"></a></li>
                <li><a href="#" class="WhatsApp"><img src="../public/img/whatsapp .png"></a></li>
                <li><a href="#" class="Twitter"><img src="../public/img/twitter (1).png"></a></li>
            </ul>
        </div>

        <div class="footer-bottom">
            <p>copyright &copy;2023 MultiServicios. Desing By <span>Adso 321_1</span></p>
        </div>
    </footer>




        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
</body>

</html>