<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/perfilp.css">
    <title>Document</title>
</head>

<body>
    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
            <div class="perfil-usuario-portada">
            <div class="perfil-usuario-avatar">
                <img class="avatar" src="/public/img/Mauricio.jpg" alt="img-avatar">
            </div>
        </div>
        </div>
        <div class="perfil-usuario-body">
            <div class="perfil-usuario-bio">
                <h3 class="titulo">Nombre del Profesional</h3>
                <p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Vero minus a tempora mollitia.
                    Ea veritatis perferendis vitae? Consequatur id
                    veniam architecto asperiores ea nisi.
                    Aperiam doloribus id temporibus ducimus libero?</p>
            </div>
            <div class="perfil-usuario-footer">
                <div class="lista-datos">
                    <li><i class="icon-imagen">lorem, ipsum, dolor</i></li>
                    <li><i class="icon-imagen">lorem, ipsum, dolor</i></li>
                    <li><i class="icon-imagen">lorem, ipsum, dolor</i></li>
                    <li><i class="icon-imagen">lorem, ipsum, dolor</i></li>
                </div>
                <div class="lista-datos">
                    <li><i class="icon-imagen">lorem, ipsum, dolor</i></li>
                    <li><i class="icon-imagen">lorem, ipsum, dolor</i></li>
                    <li><i class="icon-imagen">lorem, ipsum, dolor</i></li>
                    <li><i class="icon-imagen">lorem, ipsum, dolor</i></li>
                </div>
            </div>
        </div>
    </section>

</body>

</html>