.card-img-top{
    border-radius: 50%;
    height: 140px ;
    width: 140px;
    position: relative;
    left: 37px;
    top: -80px;
    object-fit: cover;
    border: 8px solid #1f53c5;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, .2);

}
.card{
    border-radius: 0;
    cursor: pointer;
    margin-top: 100px !important;
    width: 100%;
    height: 50vh;
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}
.card-body{
    margin-top: -50px;
}
.bi{
    font-size: 25px;
}
.contacto-buscar{
    width: 35%;
    display: flex;
    height: 100%;
    align-items: center;
    background: white;
    margin-top: 30px;
    border-radius: 18px;
}
.buscar{
    width: 100%;
    background-color: #F3F3F3;
    border: none;
    border-radius: 2rem;
    padding: 8px 15px;
    padding-left: 50px;
}
.buscar:hover{
    border: none;
}
.container{
    width: 54%;
}
/* CSS */
.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  margin-bottom: 60px;
}

.lightbox-img {
  max-width: 80%;
  max-height: 80%;
  margin-top: 10%;
  border-radius: 5px;
  object-fit: contain;
}


.close {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 10px;
  right: 25px;
  cursor: pointer;
}
  .galeria img {
    width: 90%;
    height: 300px;
    object-fit: cover;
    box-shadow: 2px 2px 7px grey;
    border-radius: 12px ;
    vertical-align: top;
    
  }
  .galeria img:hover{
    transform: scale(1.2);
  }
  .galeri{
    width: 100%;
  }
 
  .galeria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 50%;
    justify-items: center;
    margin-bottom: 8rem;
    margin-top: 2rem;
    grid-row-gap:40px;
  }
  .text-galeria{
   text-align: center;
  }
  #inputImagen{
    width: 50%;
    height: 60px; 
    padding-left: 300px;
  }
  .galeria-imagenes{
    width: 100%;
    display: flex;
    justify-content: center
  }
  #inputImagen::file-selector-button {
    padding: 5px;
    margin-left: 95px;
    margin-bottom: 25px;
    color: transparent;
    border-radius: 4px;
    height: 60px;
    background: url("/public/img/galeria-de-imagen.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
@media only screen and (max-width: 600px) {
    .card-img-top{
        left: 96px !important; 
    }
  }
  @media only screen and (max-width: 1200px) {
    .card-img-top{
        height: 150px ;
        width: 150px;
        left: 70px;
    }
    .galeria{

      width: 80%;
   
    }
    .galeria img:hover{
      transform: scale(1.5);
    }
    .card{
        height: 50vh;
        padding-bottom: 20px;
    }
    .container{
      width: 81%;
    }
    #inputImagen{ 
      padding-left: 0px;
    }
  }
  @media only screen and (max-width: 780px) {
    .card-img-top {
        height: 120px;
        width: 120px;
        left: 30px;
      }
      .card{
        height: 60vh;
      }
      .contacto-buscar{
        width: 300px;
      }
      .galeria img{
        height: 200px;
      }
  }